<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATH" value="/Users/jerry/log/reactorLoop/" />

    <appender name="ACCEPTOR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--指定日志文件名称-->
        <file>${LOG_PATH}/acceptor.log</file>
        <encoder>
            <!--指定日志内容格式-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}.acceptor.log.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--日志最大保存15天-->
            <maxHistory>15</maxHistory>
            <!--日志最大的文件大小-->
            <maxFileSize>100MB</maxFileSize>
            <!--日志最大保存10GB-->
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="REACTOR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--指定日志文件名称-->
        <file>${LOG_PATH}/reactor.log</file>
        <encoder>
            <!--指定日志内容格式-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}.reactor.log.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--日志最大保存15天-->
            <maxHistory>15</maxHistory>
            <!--日志最大的文件大小-->
            <maxFileSize>100MB</maxFileSize>
            <!--日志最大保存10GB-->
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="HANDLER_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--指定日志文件名称-->
        <file>${LOG_PATH}/handler.log</file>
        <encoder>
            <!--指定日志内容格式-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}.handler.log.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--日志最大保存15天-->
            <maxHistory>15</maxHistory>
            <!--日志最大的文件大小-->
            <maxFileSize>100MB</maxFileSize>
            <!--日志最大保存10GB-->
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="PlainReactorLoop.Acceptor" level="INFO" additivity="false">
        <appender-ref ref="ACCEPTOR_LOG" />
    </logger>

    <logger name="PlainReactorLoop.Reactor" level="INFO" additivity="false">
        <appender-ref ref="REACTOR_LOG" />
    </logger>

    <logger name="PlainReactorLoop.Handler" level="INFO" additivity="false">
        <appender-ref ref="HANDLER_LOG" />
    </logger>
</configuration>